*,
*::before,
*::after {    
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Rubik', sans-serif;
}
.app {
    background-color: #F3F5F8;
}
.nav-bar {
        width: 100vw;
        padding: 0 20px;
        background-color: #fff;
        display: block;
        box-shadow: 1px 0px 4px 0px #0000001A;
}
.nav-left {
    display: block;
}
.logo {
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.44px;
    color: #2B6FF3;
}

.nav-center > a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    line-height: 16.59px;
}
.nav-bar > button {
    background-color: #C4C4C41F;
    border: none;
    color: #5F6368;
    padding: 10px;
    border-radius: 5px;
    padding-bottom: 10px;
}
.eclipse {
    padding-left: 13px;
}
.hero {
    padding: 20px;
}
.hero > h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28.44px;
    padding-bottom: 30px;
}
.global-stats {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}
.totalcases, .activecases, .recovered, .totaldeaths  {
    flex-basis: 1;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.totalcases {
    background: rgba(43, 111, 243, 0.05);
}
.circular {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.totalcases > .circular {
    background: rgba(43, 111, 243, 0.05);
}
.circular-inner > h1 {
    text-align: center;
    font-size: 18px;
    color: #000000;
    line-height: 21.33px;
    text-transform: capitalize;
}
.circular-inner > .count {
    font-size: 36px;
    font-weight: 500;
    line-height: 43px;
    text-align: center;
    padding-top: 16px;
}
.totalcases > .circular > .circular-inner > .count {
    color:  #2b6ff3;
}
.activecases > .circular > .circular-inner > .count {
    color: #f39911;
}
.recovered > .circular > .circular-inner > .count {
    color: #16b442;
}
.totaldeaths > .circular > .circular-inner > .count {
    color: #d63232;
}
.circular-inner > .increment {
    font-size: 12px;
    text-align: center;
    line-height: 14px;
    padding-top: 5px;
    color: #777777;
}
.circular-inner > span {
    display: block;
}
.totalcases > .circular > .circular-inner {

}
.activecases {
    background: rgba(243, 153, 17, 0.05);
}
.activecases > .circular {
    background: rgba(243, 153, 17, 0.05);
}
.recovered {
    background: rgba(22, 180, 66, 0.05);
}
.recovered > .circular {
    background: rgba(22, 180, 66, 0.05);
}
.totaldeaths {
    background: rgba(170, 42, 42, 0.05);
}
.totaldeaths > .circular {
    background: rgba(170, 42, 42, 0.05);
}
.nations-grid {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        padding: 20px;
}
.nations > h1 {
    padding: 12px 30px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28.44px;
}
.nations > p {
    padding: 0 30px;
    color: #777F8D;
    text-transform: capitalize;
}
.country-pill {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border: none;
    padding: 15px 20px;
    background-color: #fff;
}
.country-pill > .country-span {
    display: flex;
    gap: 20px;
    align-items: center;
}
.country-pill > .country-span > span {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.59px;
}
.country-pill:hover {
    background-color: rgba(238, 238, 238, 0.34);
}
.country-pill > .country-count {
    color: #2B6FF3;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.33px;
}
.nations {
    background-color: #fff;
    padding: 20px;
}
.countries-stats > p {
    padding-bottom: 25px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.33px;

}
.countries-stats-items {
    display: block;
}
.countries-stats-items-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.countries-stats-items-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.items-button {
    width: 100%;
    align-items: center;
    padding: 15px 20px;
    border: 1px solid #F1F4FA;
    background-color: transparent;
}
.button-totalcases {
    display: block;
    color: #777F8D;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.59px;
    text-align: center;
    padding: 5px 0;

}
.totalcasescount {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.33px;
    color: #2B6FF3;
}
.recoveredcasescount {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.33px;
    color: #16B442;
}
.newcasescount {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.33px;
    color: #2B6FF3;
}
.activecasescount {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.33px;
    color: #F39911;
}

.totaldeathscount {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.33px;
    color: #D63232;

}
.items-button > span {
    text-align: center;
}
.world-map > img {
    width: 100%;
}
.symptoms {
    display: grid;
    grid-template-columns: 1fr;
        width: 100%;
        gap: 48px;
        padding: 20px;
}
.symptoms-intro {
    padding-top: 25px;
}
.symptoms-intro > span {
    background-color: #E814540F;
    color: #E81454;
    padding: 10px 20px;
    border-radius: 30px;

}
.symptoms-intro > h1 {
    padding-top: 46px;
    font-weight: 500;
    font-size: 36px;
    line-height: 42.66px;
    padding-bottom: 18px;
}
.symptoms-intro > p {
    font-size: 15px;
    line-height: 31.44px;
    color: #5F6368;
}
.symptoms-image {
    display: flex;
    justify-content: center;
    align-items: center;
} 
.symptoms-image > img {
    width: 100%;
}
.prevention {
    padding-top: 48px;
    background-color: #fff;
}
.prevention-content {
    display: grid;
    grid-template-columns: 1fr;
        width: 100%;
        gap: 48px;
        padding: 20px;
}
.prevention-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.prevention-image > img {
    width: 100%;
}

.prevention-description > h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 42.66px;
    padding-top: 25px;
    padding-bottom: 10px;
}
.prevention-description > p {
    font-weight: 400;
    font-size: 15px;
    line-height: 29.04px;
    color: #5F6368;
    padding-bottom: 20px;
}
.prevention-illustration > h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 37.73px;
    padding: 20px;
}
.prevention-illustration > h2 > span {
    color: rgb(26, 232, 26);
}
@media (min-width: 768px) {
    .nav-bar {
        width: 100vw;
        height: 80px;
        padding: 0 48px;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #E3E7EE;
    }
    .nav-left {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding:  0 40px;
    }
    .nav-center {
        display: flex;
        padding: 0 20px;
    }

    .nav-center > a {
        padding: 10px 20px;
    }
    .nav-bar > button {
        padding-bottom: 0;
    }
    .global-stats {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
    }
    .hero {
        padding: 48px 48px 48px 90px;
    }
    .hero > h1 {
        font-weight: 500;
        font-size: 24px;
        line-height: 28.44px;
        padding-bottom: 0;
    }
    .countries-stats-items {
        display: flex;
        justify-content: space-between;
    }
    .nations-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        gap: 48px;
        padding: 0;
}
.symptoms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 48px;
        padding: 20px;
}
.prevention-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 48px;
        padding: 20px;
}

}